---
layout: nil
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Queue Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A tool for understanding customer ">
    <meta name="author" content="Philip I. Thomas">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/custom/custom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9939917-22', 'philipithomas.com');
  ga('send', 'pageview');

</script>
  </head>

  <body>
    <div class="container">
    	<div class="row">
	    	<div class="span3">
	    		<div id="sidebar">
	            <div class="well"  >
	             	<em>How many cashiers do you need?</em>
  					 <h3>Queue Simulator</h3>
					
					<!-- Form -->
					<div>Average Customers per Hour:</div>
					<input type="text"  id="arrival_input" value="60" />
					<div>Average Cashier Service Time (Minutes):</div>
					<input type="text"  id="service_input"  value="3.5" />
					<div>Goal Customer Checkout Time (Minutes):</div>
					<input type="text"  id="goal_service" value="5" />
					<div class="btn btn-block btn-primary"  id="simulate">Simulate</div>
					<div href="#myModal" role="button" class="btn btn-block btn-info" data-toggle="modal" >About</div>
					<div class="btn  btn-block"  id="reset">Reset</div>
					<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">About</h3>
					  </div>
					  <div class="modal-body">
					   
         					 {% include about.html %}

					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div> <!-- end modal -->


	           </div><!-- pad nav-->
	       </div>
	   </div> <!-- end span3 -->

	   <div class="span9">
	   	<div id="output" class="hide">
	   		<div class=""><h2>Results<span id="rec_outer" class="hidden">: <span id="recommendation"></span> Cashiers Recommended</span></h2><small><span id="arrival_display"></span> customers per hour with <span id="service_display"></span> minute service</small></div>
	   	
	   		<table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Number of Cashiers</th>
                  <th>Average Queue Length</th>
                  <th>Average Checkout Time</th>
                  <th>Cashier Utilization</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
		     {% for i in (1..8) %}
		     <tr id="row{{i}}"><td>{{i}}</td><td><div id="L{{i}}"></div></td><td><div id="W{{i}}"></div></td><td><div id="rho{{i}}"></div></td><td><a href="#dump{{i}}" role="button" class="btn btn-primary" data-toggle="modal">Data</a>
	<div id="dump{{i}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	    <h3 id="myModalLabel">Data for {{i}} Servers</h3>
	  </div>
	  <div class="modal-body" id="dumpbody{{i}}">
		<div id="dumpbody{{i}}"></div>
	  
	</div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div></td></tr>
		     {% endfor %}
              </tbody>
            </table>	   		

	     </div> 
	    </div>
	</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>  
	<script src="/bootstrap/js/bootstrap.js"></script> 
	<script src="/custom/queue.js"></script>

  </body>
</html>
